.arrow {
  cursor: pointer;
  margin-right: 6px;
  display: inline-block;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrow::after {
  content: '▾';
}

.arrow-collapsed {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.arrow-no-children {
  visibility: hidden;
}

.property-name {
  color: blue;
  font-size: 1.2em;
  font-family: "Courier New", Courier, monospace;
}

.property-type {
  font-family: "Courier New", Courier, monospace;
}

.property-info {
  font-family: "Courier New", Courier, monospace;
  color: red;
}

p {
  font-family: "Courier New", Courier, monospace;
}
